<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title th:text="${title}"> password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="|cher(e) ${agent.matricule}|">Dear</p>
        Vous avez cliqué sur <b>Mot de passe oublié</b> depuis la plateforme Légiburkina.
    </p>
    <p>
        Veuillez cliquer sur le lien ci-dessous pour renitialiser votre mot de passe :
    </p> 
    <p>
        <a th:with="url=(@{|${baseUrl}/account/activate?key=${agent.activationKey}|})" th:href="${url}" th:text="${url}">Lien de réinitialisation</a>
        <!--a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${agent.resetKey}|})" th:href="${url}" th:text="${url}">Lien de réinitialisation</a-->
    </p>
    <p>Si cette demande ne provient pas de vous, vous devriez :</p>
    <ul>
        <li>proceder au changement de votre mot de passe Légiburkina</li>
        <li>renforcer la politique d'accès à votre compte courriel</li>
    </ul>

    <p>
        <span >Coordialement, </span>
        <br />
        <em >l'équipe de Légiburkina.</em>
    </p>
</body>
</html>
